.reservation {
    background-color: #faebd7;
    max-width: 70rem;
    min-height: 50rem;
    margin: 0 auto;
    padding: 1rem;   
    gap: 1.5rem;
    align-items: center;
    
}
.titulo{
    background-color: rgb(236, 246, 243);
    color: rgb(88, 25, 124);
    max-width: 70rem;
    min-height: 7rem;
    border: 3px;
    box-shadow: 0 1px  10px;
    align-content: center;
    text-align: center;
    padding: 10px;
    align-items: center;
}
.boton-button{
    background-color: rgb(14, 123, 130);
    border: solid;
    color: rgb(205, 223, 223);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    cursor: pointer;
    margin: 0;
}

.boton-button:hover{
    background-color: rgb(205, 223, 223);
    color: rgb(14, 123, 130);
}